<form [formGroup]="formularioFiltro">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="inputNombre">Nombre</label>
                <input formControlName="nombre" type="text" id="inputNombre" class="form-control form-control-sm">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group has-float-label">
                <label for="inputDNI">DNI</label>
                <input formControlName="dni" type="number" id="inputDNI" class="form-control form-control-sm">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group has-float-label">
                <label for="inputEstado">Estado</label>
                <select formControlName="estado" class="form-control form-control-sm" id="inputEstado">
                    <option value="Todos">Todos</option>
                    <option value="En espera">En espera</option>
                    <option value="Siendo atendido">Siendo atendido</option>
                    <option value="Atendido">Atendido</option>
                </select>
            </div>
        </div>
        <div class="col">
            <button (click)="mostrar()" type="button" class="btn btn-primary btn-sm btn-block">
                Filtrar
            </button>
        </div>
        <div class="col">
            <button (click)="mostrar()" type="button" class="btn btn-secondary btn-sm btn-block">
                Reset
            </button>
        </div>
    </div>
</form>