<div class="container ">
  <div class="row justify-content-center py-4">
    <div class="col-md-8">
      <app-registro-diagnostico></app-registro-diagnostico>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center mb-3">
          <h4>Categorías</h4>
        </div>
      </div>
      <app-filtro></app-filtro>
    </div>
    <!-- Tables -->
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <p>rojo</p>
        </div>
        <div class="col-md-6">
          <p>naranja</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>amarillo</p>
        </div>
        <div class="col-md-6">
          <p>verde</p>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!-- <router-outlet></router-outlet> -->