<div class="container ">
  <div class="row justify-content-center py-4">
    <div class="col-md-8">
      <!-- Formulario -->
      <app-registro-diagnostico></app-registro-diagnostico>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center mb-3">
          <h4>Categorías</h4>
        </div>
      </div>
      <!-- Filtro -->
      <app-filtro></app-filtro>
    </div>
    <!-- Tablas -->
    <app-tabla-fila></app-tabla-fila>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->