<div class="col-md-12">
    <div class="row py-3">
        <div class="col-md-6 ">
            <app-fila [backgroundColor]="'#FF8A84'" [fila]="filaRojo"></app-fila>
        </div>
        <div class="col-md-6">
            <app-fila [backgroundColor]="'#FFB984'" [fila]="filaNaranja"></app-fila>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-6">
            <app-fila [backgroundColor]="'#FFE084'" [fila]="filaAmarillo"></app-fila>
        </div>
        <div class="col-md-6">
            <app-fila [backgroundColor]="'#6ACE76'" [fila]="filaVerde"></app-fila>
        </div>
    </div>

</div>